{% extends 'basic.html' %}
{% block title %}AIpoint - Blogs{% endblock %}
{% block style %}


{% endblock %}
{% block body %}{% load static %}
<main>
	<div class="container text-center">
		<h2 class="display-4">Aipoint Blogs !</h2>
		<hr>
	</div>
</main>
</header>
<!-- Code Here -->

<!-- Category wise Blogs -->

<div class="container my-5">
  <div class="card">
    <div class="card-header">header</div>
    <div class="card-body">
      <h2 class="card-title">title</h2>
      <div class="card-text">loremipsum</div>
      <footer class="my-3"><cite title="Source Title">Author</cite></footer>
      <button class="btn">Learn More...</button>
    </div>
    <div class="card-footer">DATE</div>
  </div>
</div>


{% block script %}

{% endblock %}
{% endblock %}